{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <div class="card text-white bg-dark mb-2" style="max-width: 40rem;">
            <div class="card-header">Visiting Address</div>
            <div class="card-body">
                <h5 class="card-text">Best Cars Headquarters</br></br>33 Rozel Road, 90210, New York</br></br></h5>
                <p class="card-text">Phone: 0016032546424 </br> Email: info@bestcars.co.uk </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}